body{
	background: #1ab399 url(img/wave.png);
	background-size: auto|length|cover|contain|initial|inherit;
	background-image: linear-gradient(#1ab399 );
	/*background-size: 100% 100%;*/
}
html{
	height: 100%;
}
.main{
	background-color: rgba(255,255,255,0.219);
	backdrop-filter: blur(2px);
	border-radius: 25px;
}
input{
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid dodgerblue;
	width: 100%;
	position: relative;
	bottom: 0px;
}
.from-group{
	height: 70px;
}
label{
	position: relative;
	font-size: 18px;
	color: rgb(58,58,58);
	top: 32px;
	left: 5px;
	transition: .3s;
	z-index: -1;
}
.label-section{
	position: relative;
	font-size: 13px;
	color: rgb(82, 82, 82);
	top: 5px;
	left: 5px;
}
button{
	border: none;
	background-color: dodgerblue;
	color: #fff;
	font-weight: 500;
	padding: 10px;
	width: 100px;
	border-radius: 30px;
	margin-left: 75%;
	transition: .5s;
	transform: translate(0px,0px);
}
button:hover{
	box-shadow: 0px 8px 15px -10px rgb(61, 61, 61);
	transform: rgb(3,48,197);
}
.links{
	font-size: 14px;
	color: rgb(3, 48, 197);
}
#overlay{
	background-color: #fff;
	height: 550px;
	width: 600px;
	position: absolute;
	transform: translate(0px,-25px);
	border-radius: 25px;
	background-image: url(img/sign.jpg);
	transition: .5s;
	filter: brightness(110%);
}

@media only screen and(max-width: 600px){
	body{
		background-color: lightblue;
	}
	#overlay, #signUp{
		display: none;
	}
	button{
		margin-left: 65%;
	}
}