.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	padding: 1rem 0;
	z-index: 999;
}
.navbar .container{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#navbar-show-btn{
	background: transparent;
}